In [37]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima_model import ARIMA
from pathlib import Path
%matplotlib inline

In [38]:
filepath = Path('./data.csv')
data = pd.read_csv(filepath)

In [39]:
data

,Player,Pos,Year,Week,Team,Opponent Abbrev,Date,Game ID,H/A,OT,...,FG 0-19,FG 20-29,FG 30-39,FG 40-49,FG 50+,XPM,XPA,Pnt,Yds,Y/P
0,Aaron Rodgers,QB,2019,1,GNB,CHI,2019-09-05,201909050chi,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Jones,RB,2019,1,GNB,CHI,2019-09-05,201909050chi,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Marquez Valdes-Scantling,WR,2019,1,GNB,CHI,2019-09-05,201909050chi,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Davante Adams,WR,2019,1,GNB,CHI,2019-09-05,201909050chi,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jimmy Graham,TE,2019,1,GNB,CHI,2019-09-05,201909050chi,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30687,Connor Barth,K,2015,17,TAM,CAR,2016-01-03,201601030car,A,NaN,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN
30688,Graham Gano,K,2015,17,CAR,TAM,2016-01-03,201601030car,H,NaN,...,0.0,0.0,0.0,1.0,0.0,5.0,5.0,0.0,0.0,NaN
30689,Sebastian Janikowski,K,2015,17,OAK,KAN,2016-01-03,201601030kan,A,NaN,...,0.0,1.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,NaN
30690,Blair Walsh,K,2015,17,MIN,GNB,2016-01-03,201601030gnb,A,NaN,...,0.0,0.0,2.0,0.0,0.0,2.0,2.0,0.0,0.0,NaN
30691,Mason Crosby,K,2015,17,GNB,MIN,2016-01-03,201601030gnb,H,NaN,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN

In [61]:
#Breaking data up by position so that I can drop useless columns for that position
def positions():
    qb_data = []
    rb_data = []
    wr_data = []
    te_data = []
    fb_data = []
    dst_data = []
    k_data = []
    
    
    for i, row in data.iterrows():
        if data.at[i, 'Pos'] == 'QB':
            qb_data.append(row)
        
        elif data.at[i, 'Pos'] == 'RB':
            rb_data.append(row)
            
        elif data.at[i, 'Pos'] == 'WR':
            wr_data.append(row)
        
        elif data.at[i, 'Pos'] == 'TE':
            te_data.append(row)
        
        elif data.at[i, 'Pos'] == 'FB':
            fb_data.append(row)
            
        elif data.at[i, 'Pos'] == 'DST':
            dst_data.append(row)
            
        else:
            k_data.append(row)
            
            
    qb_df = pd.DataFrame(qb_data)        
    rb_df = pd.DataFrame(rb_data)
    wr_df = pd.DataFrame(wr_data)
    te_df = pd.DataFrame(te_data)
    fb_df = pd.DataFrame(fb_data)
    dst_df = pd.DataFrame(dst_data)
    k_df = pd.DataFrame(k_data)
    
    return qb_df, rb_df, wr_df, te_df, fb_df, dst_df, k_df

In [62]:
qb, rb, wr, te, fb, dst, k = positions()

In [63]:
display(k)

,Player,Pos,Year,Week,Team,Opponent Abbrev,Date,Game ID,H/A,OT,...,FG 0-19,FG 20-29,FG 30-39,FG 40-49,FG 50+,XPM,XPA,Pnt,Yds,Y/P
1639,Jake Elliott,K,2019,6,PHI,MIN,2019-10-13,201910130min,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3693,Jason Sanders,K,2019,13,MIA,PHI,2019-12-01,201912010mia,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6007,Mason Crosby,K,2018,3,GNB,WAS,2018-09-23,201809230was,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6677,Stephen Hauschka,K,2018,5,BUF,TEN,2018-10-07,201810070buf,H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8707,Chris Boswell,K,2018,12,PIT,DEN,2018-11-25,201811250den,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30687,Connor Barth,K,2015,17,TAM,CAR,2016-01-03,201601030car,A,NaN,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN
30688,Graham Gano,K,2015,17,CAR,TAM,2016-01-03,201601030car,H,NaN,...,0.0,0.0,0.0,1.0,0.0,5.0,5.0,0.0,0.0,NaN
30689,Sebastian Janikowski,K,2015,17,OAK,KAN,2016-01-03,201601030kan,A,NaN,...,0.0,1.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,NaN
30690,Blair Walsh,K,2015,17,MIN,GNB,2016-01-03,201601030gnb,A,NaN,...,0.0,0.0,2.0,0.0,0.0,2.0,2.0,0.0,0.0,NaN
30691,Mason Crosby,K,2015,17,GNB,MIN,2016-01-03,201601030gnb,H,NaN,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN